* {
  margin: 0;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 100;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

.paddingForAbout {
  margin-top: 47px;
  padding-top: 0;
}

.aboutTitle {
  padding-top: 30px;
}

#home {
  font-size: 25px;
  padding: 46vh 35vw;
  text-align: center;
}

#about {
  text-align: center;
  padding: 1.5% 10%;
}

.aboutText {
  margin: 10px;
}

#portfolio {
  text-align: center;
}

.portfolioTitle {
  margin: 0 0 15px 0;
  padding-top: 45px;
}

#contact {
  margin-top: 40px;
  padding-top: 25px;
  text-align: center;
}

/* #contact.contactForm {
  margin-top: 30px;
} */

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
} */

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.project {
  position: relative;
  text-align: center;
  /* color: white; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide{
  display: none;
}

.fadeout {
  opacity: 0;
  animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s; /* Firefox */
    -webkit-animation: fadeout 0.5s; /* Safari and Chrome */
    -o-animation: fadeout 0.5s; /* Opera */
}

.fadein {
  opacity: 1;
  animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity:1;
  }
  to {
      opacity: 0;
  }
}

.projectTitleReactStore,
.projectTitleExpensifyApp {
  font-size: 25px;
}

.projectPictureReactStore,
.projectPictureExpensifyApp {
  max-width: 250px;
  opacity: 1;
  transition: 0.5s;
}

.projectPictureReactStore:hover,
.projectPictureExpensifyApp:hover {
  opacity: 0.5;
}



.containerReactStore {
  position: relative;
  width: 25%;
}

.imageReactStore {
  display: block;
  width: 100%;
  height: auto;
}

.overlayReactStore {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/store-square.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerReactStore:hover {
  opacity: 0.75;
}

.overlayReactStore:hover {
  opacity: 1;
}

.textReactStore {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerReactStoreClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.viewSiteButton {
  background: #E31B6D;
  border: #E31B6D solid 5px ;
  color: white;
  font-size: 20px;
  left: 10%;
  padding: 5px 5px;
  position: absolute;
}

.closecontainerReactStoreClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageReactStoreClicked {
  width: 90%;
}

.containerExpensifyApp {
  position: relative;
  width: 25%;
}

.imageExpensifyApp {
  display: block;
  width: 100%;
  height: auto;
}

.overlayExpensifyApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/expensify-with-expenses.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerExpensifyApp:hover {
  opacity: 0.75;
}

.overlayExpensifyApp:hover {
  opacity: 1;
}

.textExpensifyApp {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerExpensifyAppClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerExpensifyAppClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageExpensifyAppClicked {
  width: 90%;
}

.containerIndecisionApp {
  position: relative;
  width: 25%;
}

.imageIndecisionApp {
  display: block;
  width: 100%;
  height: auto;
}

.overlayIndecisionApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/indecision-app.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerIndecisionApp:hover {
  opacity: 0.75;
}

.overlayIndecisionApp:hover {
  opacity: 1;
}

.textIndecisionApp {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerIndecisionAppClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerIndecisionAppClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageIndecisionAppClicked {
  width: 90%;
}

.containerChatApp {
  position: relative;
  width: 25%;
}

.imageChatApp {
  display: block;
  width: 100%;
  height: auto;
}

.overlayChatApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/chat-app.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerChatApp:hover {
  opacity: 0.75;
}

.overlayChatApp:hover {
  opacity: 1;
}

.textChatApp {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerChatAppClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerChatAppClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageChatAppClicked {
  width: 90%;
}

.containerFriendsTrivia {
  position: relative;
  width: 25%;
}

.imageFriendsTrivia {
  display: block;
  width: 100%;
  height: auto;
}

.overlayFriendsTrivia {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/friends-trivia.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerFriendsTrivia:hover {
  opacity: 0.75;
}

.overlayFriendsTrivia:hover {
  opacity: 1;
}

.textFriendsTrivia {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerFriendsTriviaClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerFriendsTriviaClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageFriendsTriviaClicked {
  width: 90%;
}

.containerTheBigBangTheoryTrivia {
  position: relative;
  width: 25%;
}

.imageTheBigBangTheoryTrivia {
  display: block;
  width: 100%;
  height: auto;
}

.overlayTheBigBangTheoryTrivia {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/the-big-bang-theory-trivia.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerTheBigBangTheoryTrivia:hover {
  opacity: 0.75;
}

.overlayTheBigBangTheoryTrivia:hover {
  opacity: 1;
}

.textTheBigBangTheoryTrivia {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerTheBigBangTheoryTriviaClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerTheBigBangTheoryTriviaClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageTheBigBangTheoryTriviaClicked {
  width: 90%;
}

.containerChatApp {
  position: relative;
  width: 25%;
}

.imageChatApp {
  display: block;
  width: 100%;
  height: auto;
}

.overlayChatApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/chat-app.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerChatApp:hover {
  opacity: 0.75;
}

.overlayChatApp:hover {
  opacity: 1;
}

.textChatApp {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerChatAppClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerChatAppClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageChatAppClicked {
  width: 90%;
}

.containerWeatherApp {
  position: relative;
  width: 25%;
}

.imageWeatherApp {
  display: block;
  width: 100%;
  height: auto;
}

.overlayWeatherApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/weather-app.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerWeatherApp:hover {
  opacity: 0.75;
}

.overlayWeatherApp:hover {
  opacity: 1;
}

.textWeatherApp {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerWeatherAppClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerWeatherAppClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageWeatherAppClicked {
  width: 90%;
}

.containerBlogWebsite {
  position: relative;
  width: 25%;
}

.imageBlogWebsite {
  display: block;
  width: 100%;
  height: auto;
}

.overlayBlogWebsite {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(./img/projects/blog-website.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
}

.containerBlogWebsite:hover {
  opacity: 0.75;
}

.overlayBlogWebsite:hover {
  opacity: 1;
}

.textBlogWebsite {
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 1px 4px gray;
}

.containerBlogWebsiteClicked {
  background: white;
  padding: 20px 20px 50px 20px;
  position: absolute;
  visibility: hidden;
  width: 75%;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.closecontainerBlogWebsiteClicked {
  background: white;
  border: 0;
  font-size: 20px;
  left: 90%;
  padding: 12px 5px 0px 5px;
  position: absolute;
}

.imageBlogWebsiteClicked {
  width: 90%;
}




.contactForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 25px auto;
  padding: 15px;
  width: 75%;
}

input[type=text], textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}